footer
    .footer
        .social_links.items
            a(href='') Facebook
            a(href='') Twitter
            a(href='') Instagram
            a(href='') Linkdin
        .copyright
            span Copyright &copy; All Right Reserved
        .payment
            img(src='/images/payment.webp' alt='')   