nav
    //- input#check(type='checkbox')
    label.checkbtn(for='check')
        i.fas.fa-bars
    label.logo AdsenseApproval
    ul
        li
            a.active(href='/') Home
        li
            a(href='/about') About
        li
            a(href='/contact') Contact
        li
            a(href='/contact') Feedback
        if user 
            li 
                a#logout(href='/logout') Logout
            li 
               a(href="/user")=user.name
        else
            li
                a(href='/login') Login
            li
                a(href='/signup') Sign up