doctype html 
html 
    head 
        meta(charset='UTF-8')
        meta(http-equiv="Content-Security-Policy" content="default-src *; style-src * 'unsafe-inline'; script-src * 'unsafe-inline' 'unsafe-eval'; img-src * data: 'unsafe-inline'; connect-src * 'unsafe-inline'; frame-src *;")
        meta(name='viewport' content='width=device-width, initial-scale=1.0')
        link(rel='stylesheet' href='/contact.css') 
        link(rel='stylesheet' href='/blog.css') 
        link(rel='stylesheet' href='/style.css') 
        link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css")
        link(rel="icon" type="image/png" href="/images/adesense.jpg")
        <link href="https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Nunito&family=Raleway:wght@100&family=Rubik+Doodle+Shadow&display=swap" rel="stylesheet">
        title AdsenseApproval
    body
        #alert-container
        include _header
        block content 
            h1 Helo world
        include _footer
        script(src="./js/bundle.js")