

.home-articles h2{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 3rem;
}
.contact-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(174deg, #9985fd 60%, #7168fd 60%);
    margin-bottom: 15px;
}
.form-box input , textarea{
    font-family: var(--font1);
    margin: 8px;
    border: 1px solid gray;
    width: 40vw;
    height: 34px;
    border-radius: 12px;
    padding: 4px 4px;
    position: initial;
    font-size: 1rem;
}
.form-box textarea{
    height: 16vw;
}
.form-box button{
margin-bottom: 12px;
}
.home-articles{
    margin-top: 15px;
}

.formerror{
    color: red;
    font-size: 1.2rem;
    /* background-color: #d1c3f169; */
    border-radius: 6px;
    padding: 5px 4px;
}
@media (max-width:600px) {
    .form-box input, textarea{
        width: auto;
        border: 1px solid gray;
    }
}